/***********    General Styles   ****************/
$mybg: #4285F4;
$myBorder: #3b77db;
$myWhite: #fff;

body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: sans-serif;
}

/***********    Header Styles   ****************/
.header {
    width: 100vw;
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    background: $mybg;
    height: 60px;
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.55);
}

.header_title {
    color: $myWhite;
    font-family: 'Courier';
    margin: 15px 20px 0 0;
    font-size: 26px;
}

input.search {
    font-size: initial;
    -webkit-appearance: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 30px;
    outline: none;
    width: 360px;
    height: 30px;
    font-size: 14px;
    margin: 15px 0 0 10px;
    color: black;
    font-weight: 500;
    padding: 0 0 0 12px;
    border: 2px solid $myBorder;
}

.search_results {
    background: $myWhite;
    margin: 1px 0 0 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
    max-width: 370px;
    text-align: center;
    max-height: 90vh;
    overflow-y: auto;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .30);
}

.search_results div {
    margin: 3px;
   padding-top: 10px;
    border-bottom: 1px solid #ede8e8;
}

.search_results div:hover {
    background: $mybg;
    color: $myWhite;
    border-radius: 2px;
    cursor: pointer;
}

.search_results div:hover .search_detail {
    color: $myWhite;
}

.search_locations {
    font-size: 14px;
    line-height: 1.3;
}

.search_detail {
    font-size: 11px;
    line-height: 0;
    color: #8c8c8c;
    margin-right: 28px;
}

/***********    Map Styles   ****************/
.map {
    width: 100%;
    height: 100%;
    margin-top: 65px;
    z-index: -1;
}

/***********    Modal Styles   ****************/
.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 1px solid #ccc;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
}

.modal div {
    background: $myWhite;
    padding-bottom: 15px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    box-shadow: 0 4px 6px 2px rgba(0, 0, 0, .30);
    padding-top: 20px;
}

.modal div p {
    margin-left: 22px;
    margin-right: 22px;
}

.title_modal {
    text-align: center;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.btn {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 22px;
    cursor: pointer;
    padding: 15px 32px;
}

.btn_close {
  background-color: $myWhite;
  border: 1px solid $mybg;
  color: $mybg;
}

.btn_remove {
    background-color: #E8453C;
    border: none;
    color: white;
  }


/*********** Media queries *******************/
@media screen and (max-width: 615px) {
    .header_title {
        display: none;
    }
    input.search {
        width: 90vw;
        margin-left: 5px;
        margin-right: 5px;
    }

    .search_results {
        margin-left: 5px;
        margin-right: 5px;
    }
}